<!doctype html>
<html lang="en">
    
<head>
        <title>PavanKumar</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Maha Personal cv/resume template for professional and personal website." />
        <meta name="keywords" content="creative, cv, designer,  online cv, online resume, powerful portfolio, professional, professional resume, responsive, resume, vcard " />
        <meta name="developer" content="Md. Siful Islam">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                
        <!-- FAV AND ICONS   -->
        <link rel="shortcut icon" href="static/images/favicon.ico">
        <link rel="shortcut icon" href="static/images/apple-icon.png">
        <link rel="shortcut icon" sizes="72x72" href="static/images/apple-icon-72x72.png">
        <link rel="shortcut icon" sizes="114x114" href="static/images/apple-icon-114x114.png">
		
		
		
		<!--
    ==============
    * JS Files *
    ==============
    -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- jQuery -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/jquery.min.js') }}"/>
   
    <!-- popper -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/popper.min.js') }}"/>
        <!-- bootstrap -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/bootstrap.min.js') }}"/>
    
    <!-- owl carousel -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/owl.carousel.js') }}"/>
   
    <!-- validator -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/validator.min.js') }}"/>
    
    <!-- wow -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/wow.min.js') }}"/>
    
    <!-- mixin js-->
	<script type="text/javascript"  src="{{ url_for('static', filename='/plugins/js/jquery.mixitup.min.js') }}"/>
    
    <!-- circle progress-->
	<script type="text/javascript"  src="{{ url_for('static', filename=plugins/js/circle-progress.js') }}"/>
    
    <!-- jquery nav -->
	<script type="text/javascript"  src="{{ url_for('static', filename='/plugins/js/jquery.nav.js') }}"/>
    
    <!-- Fancybox js-->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/jquery.fancybox.min.js') }}"/>
   
    <!-- Map api -->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/jquery.min.js') }}"/>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- isotope js-->
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/isotope.pkgd.js') }}"/>
	<script type="text/javascript"  src="{{ url_for('static', filename='plugins/js/packery-mode.pkgd.js') }}"/>
    
    <!-- Custom Scripts-->
	<script type="text/javascript"  src="{{ url_for('static', filename='/js/map-init.js') }}"/>
	<script type="text/javascript"  src="{{ url_for('static', filename='js/custom-scripts.js') }}"/>
    
		
		
		
		
		
        
        <!-- Google Font-->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
		<link rel="stylesheet" href="{{ url_for('static', filename='icons/font-awesome-4.7.0/css/font-awesome.min.css"') }}"/>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/plugins/css/bootstrap.min.css">
        <!-- Animate CSS-->
        <link rel="stylesheet" href="static/plugins/css/animate.css">
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="static/plugins/css/owl.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="static/plugins/css/jquery.fancybox.min.css">
        
        <!-- Custom CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}"/>
        
        
        
        <!-- Colors -->
        <link rel="alternate stylesheet" href="static/css/colors/blue.css" title="blue">
        <link rel="stylesheet" href="static/css/colors/defauld.css" title="defauld">
        <link rel="alternate stylesheet" href="static/css/colors/green.css" title="green">
        <link rel="alternate stylesheet" href="static/css/colors/blue-munsell.css" title="blue-munsell">
        <link rel="alternate stylesheet" href="static/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="static/css/colors/purple.css" title="purple"> 
        <link rel="alternate stylesheet" href="static/css/colors/slate.css" title="slate">
        <link rel="alternate stylesheet" href="static/css/colors/yellow.css" title="yellow">
        
    </head>
    <body class="white-vertion black-bg">
        
        <!-- Start Loader -->
        <div class="section-loader">
            <div class="loader">
                <div></div>
                <div></div> 
            </div>
        </div>
        <!-- End Loader -->
        
        <!--
        ===================
           NAVIGATION
        ===================
        -->
        <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#mh-home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-about">About</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-skills">Skills</a>
                                </li>                                
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-experience">Experiences</a>
                                </li>                                
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-home">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!--
        ===================
           Home
        ===================
        -->
        <section class="mh-home image-bg home-2-img" id="mh-home">
            <div class="img-foverlay img-color-overlay">
                <div class="container">
                    <div class="row section-separator xs-column-reverse vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                    <span>Hello I'm</span>
                                </div>
                                
                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" da	ta-wow-delay="0.2s">Pavankumar</h2>
                                
                                
                                <ul>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="mailto:">epavankumar002@gmail.com</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a href="callto:">+918610629981</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><address>Bengaluru</address></li>
                                </ul>
                                
                                <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                    <li><a href="https://www.facebook.com/pavankumarelango"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://pavankumarelango.blogspot.com/"><i class="fa fa-google-plus"></i></i></i></a></li>
                                    <li><a href="https://github.com/PavankumarElango/"><i class="fa fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/pavankumar-e-aab30b74/"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <div class="img-border">
                                    <img src="static/images/hero.png" alt=""  class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           ABOUT
        ===================
        -->
        <section class="mh-about" id="mh-about">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="static/images/ab-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"> 
                            I'm PavanKumar.I had been working as a Hardware engineer more than a year. Completed a course in the data science and did handful of projects in both machine learning and deep learning. I am good in web scraping, flash web framework and data analysis. Also I am good at</p>
                            <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <ul>
                                    <li><span>Python</span></li>
                                    <li><span>Machine Learning</span></li>
                                    <li><span>Deep Learning</span></li>
                                    <li><span>Mysql</span></li>
                                                                    </ul>
                            </div>
                            <a href="https://drive.google.com/file/d/1IDKmAdQHKkVxO25fxboSdt6uFSoY12tm/view?usp=sharing" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Download CV <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           SERVICE
        ===================
        -->
        <section class="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>What I do</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="fa fa-bullseye purple-color"></i>
                            <h3>Machine Learning</h3>
                            <p><p>Perform statistical analysis</p>
							<p>Fine tuning test results</p> 
							<p>Train and retrain systems</p>
							<p>Work on frameworks</p>
							<p>Undertaking machine learning experiments and test</p>
							<p>Designing machine learning programs</p>  
							<p>Developing deep learning systems to various use cases
							   based on the business needs</p>
							<p>Finally implementing suitable AI/ML algorithms</p 
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>Python</h3>
                            <p>
                                <p>Write effective, scalable code</p>
								<p>Develop back-end components to improve responsiveness and overall performance</p>
								<p>Integrate user-facing elements into applications</p>
								<p>Test and debug programs</p>
								<p>Improve functionality of existing systems</p>
								<p>Implement security and data protection solutions</p>
								

                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                            <i class="fa fa-object-ungroup sky-color"></i>
                            <h3>Deep Learning</h3>
                            <p>
                               <p>Gain in-depth knowledge of TensorFlow along with its functions, operations, and the execution pipeline</p>

								
								<p>Understand the concept of artificial neural networks, convolutional neural networks, and recurrent neural networks</p>

								
								<p>Implement deep learning algorithms, and learn how to train deep networks</p>

								<p>Understand the use cases of implementing artificial intelligence such as image processing, natural language processing, speech recognition, deep face - facial recognition system, etc</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        
        <!--
        ===================
           SKILLS
        ===================
        -->
        <section class="mh-skills" id="mh-skills">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="section-title text-center col-sm-12">
                            <!--<h2>Skills</h2>-->
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-skills-inner">
                                <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                    <h3>Technical Skills</h3>
                                    <div class="each-skills">
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">Python</div>
                                                    <div class="percentagem-num">86%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width: 86%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">Machine Learning</div>
                                                    <div class="percentagem-num">72%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width: 72%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">Deep Learning</div>
                                                    <div class="percentagem-num">60%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">Mysql</div>
                                                    <div class="percentagem-num">60%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>                                    
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <h3>Professional Skills</h3>
                                <ul class="mh-professional-progress">
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="75"></div>
                                        <div class="pr-skill-name">Communication</div>
                                    </li>
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="85"></div> 
                                        <div class="pr-skill-name">Team Work</div>
                                    </li>
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="86"></div>
                                        <div class="pr-skill-name">Project Management</div>
                                    </li> 
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="60"></div>
                                        <div class="pr-skill-name">Creativity</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           EXPERIENCES
        ===================
        -->
        <section class="mh-experince image-bg featured-img-one" id="mh-experience">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-education">
                                <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                                <div class="mh-education-deatils">
                                    <!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4>B.E   <a href="#">Anna University</a></h4>
                                        <div class="mh-eduyear">2010-2014</div>
                                        
                                    </div>                                
                                    <!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                        <h4>HSC<a href="#">Voorhees higher secondary school</a></h4>
                                        <div class="mh-eduyear">2008-2010</div>
                                        
                                    </div>                                
                                    <!-- Education Institutes-->
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                        <h4>SSLC <a href="#">Voorhees higher secondary school</a></h4>
                                        <div class="mh-eduyear">2009-2010</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-work">
                                 <h3>Work Experience</h3>
                                <div class="mh-experience-deatils">
                                    <!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4>TRC Engineer   <a href="#">Aforeserve.com pvt ltd,Bengaluru</a></h4>
                                        <div class="mh-eduyear">July-2018 to Feb-2020</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>Assembling and Dismantling</li>
                                            <li><i class="fa fa-circle"></i>Updating the Bios</li>
											<li><i class="fa fa-circle"></i>Quality checking</li>
											<li><i class="fa fa-circle"></i>Testing the laptop and Desktop Motherboards</li>
                                        </ul>
                                    </div>                                
                                    <!-- Education Institutes-->
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                        <h4>2D Visualiser    <a href="#">Zulu Animation studio</a></h4>
                                        <div class="mh-eduyear">2015-2017</div>
                                        <span>Responsibility :</span>
                                        <ul class="work-responsibility">
                                            <li><i class="fa fa-circle"></i>Capture the snap of the product</li>
                                            <li><i class="fa fa-circle"></i>Draw the product</li>
											<li><i class="fa fa-circle"></i>Measure the dimension of product</li>
                                        </ul>
                                    </div>                                
                                    <!-- Education Institutes-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>       
        
        
		
		
		
		
        <!--
        ===================
           BLOG
        ===================
        -->
        <section class="mh-blog image-bg featured-img-two" id="mh-blog">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Personal projects</h3>
                        </div>
                        <div class="col-sm-12 col-md-4">
                             <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <img src="static/images/web scraping.png" alt="" class="img-fluid">
                                <div class="blog-inner">
                                    <h2><a href="#">scraping,storing,visualising the flipkart products</a></h2>
                                    <div class="mh-blog-post-info">
                                        <ul>
                                            <li><strong>Post On</strong><a href="#">27-05-2020</a></li>
                                            <li><strong>By</strong><a href="#">Pavankumar</a></li>
                                        </ul>
                                    </div>
                                    <p>Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree. It commonly saves programmers hours or days of work.Hi there! I hope you’re doing well, this is my second article, in this article you will get to learn about Extracting the product details from eCommerce website using Beautiful soup.</p>
                                    <a href="https://pavankumarelango.blogspot.com/2020/05/scrapingstoringvisualising-flipkart.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <img src="static/images/sd.gif" alt="" class="img-fluid">
                                <div class="blog-inner">
                                    <h2><a href="#">Techbot</a></h2>
                                    <div class="mh-blog-post-info">
                                        <ul>
                                            <li><strong>Post On</strong><a href="#">05-09-2020</a></li>
                                            <li><strong>By</strong><a href="#">Pavankumar</a></li>
                                        </ul>
                                    </div>
                                    <p>Chat bots are increasingly present in businesses and often are used to automate tasks that do not require skill-based talents. With customer service taking place via messaging apps as well as phone calls</p>
                                    <a href="https://pavankumarelango.blogspot.com/2020/09/presenting-by-pavankumar-chat-bots.html">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <img src="static/images/123.png" alt="" class="img-fluid">
                                <div class="blog-inner">
                                    <h2><a href="#">Detecting the Speed of cars using opencv and python</a></h2>
</a></h2>
                                    <div class="mh-blog-post-info">
                                        <ul>
                                            <li><strong>Post On</strong><a href="#">08-05-2020</a></li>
                                            <li><strong>By</strong><a href="#">Pavankumar</a></li>
                                        </ul>
                                    </div>
                                    <p>We have used corelation tracker from dlib library. Speed Calculation We are calculating the distance moved by the tracked vehicle in a secondhow to use OpenCV and Numpy to detect vehicles in video streams, track them, and apply speed estimation to detect the KPH of the moving vehicle.
As pedestr
ians taking the dog for a walk, escorting our kids to school, fast-moving vehicles operated by inattentive drivers that nearly mow us down.</p>
                                    <a href="https://pavankumarelango.blogspot.com/2020/05/detecting-speed-of-cars-using-opencv.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        
        
    
   


    <!-- ****************
      After neccessary customization/modification, Please minify 
      JavaScript/jQuery according to http://browserdiet.com/en/ for better performance
    **************** -->
    
</body>

</html>
